body {
    background: linear-gradient(-45deg,var(--background-color-1), var(--background-color-2),  var(--background-color-3), var(--background-color-4));
    background-size: 400% 400%;
    animation: gradient 150s ease infinite;
    height: 100vh;
    overflow:hidden;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.log_box{
  margin: auto;
  width: 80%;
  margin-top: max(3.5em, 5%);
  text-align: center;
  
  border: 3px solid rgb(0, 0, 0);
  background-color: var(--main-color);
  opacity: 0.7;

}
.log_input{
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 70%;
    border: 2px solid black;
    

}

.log_text{
    font-size: 2em;
    color: var(--fore-color);
    font-weight: 650;
    float: middle;
    font-size: 2em;
}

.log_error{
    font-size: 2em;
    color: red;
    font-weight: 650;
    float: middle;
    font-size: 2em;
}


.log_button{
    border: 2px solid black;
    color: black;
    padding: 0.2em 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin-top: 2%;
    cursor: pointer;
    margin-bottom: 1em;
    margin-left: 0.2em;
    margin-right: 0.3em;
}
.menüpfeil{
  font-size: 2em;
  color: var(--fore-color);
  font-weight: 650;
  float:left;
  margin-left: 2em;
  margin-top: -0.25em;
  font-size: 3em;
}
.log_pw{
  font-size: 2em;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 70%;
  border: 2px solid black;
-webkit-text-security: disc;
}
@media screen and (max-height: 500px) {
  .log_box{
    margin: auto;
    width: 80%;
    margin-top: 0em;
    
    
    border: 3px solid rgb(0, 0, 0);
    background-color: var(--main-color);
    opacity: 0.7;
    margin-top: 0.1em;
  
  }
  .log_input{
    font-size: 1.1em;
    margin-top: 0.1em;
    width: 70%;
    border: 2px solid black;
    
}
.log_text{
  font-size: 1.3em;
  color: var(--fore-color);
  font-weight: 550;
  float: middle;
}
.log_button{
  border: 2px solid black;
  color: black;
  padding: 0.2em 0.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: 0.2em;
  cursor: pointer;
  margin-bottom: 0.5em;
}
.log_error{
  font-size: 1.3em;
  color: red;
  font-weight: 650;
  float: middle;
}

}
@media screen and (max-width: 500px) {
.log_box{
  margin: auto;
  width: 90%;
  margin-top: max(3.5em, 5%);
  
  
  border: 3px solid rgb(0, 0, 0);
  background-color: var(--main-color);
  opacity: 0.7;

}
.log_error{
  font-size: 1.5em;
  color: red;
  font-weight: 650;
  float: middle;
}

}